<template name="channels">
<div id="channels-liste">

  <input type="submit" class="accueil" value="Retour à l'accueil"/>
  <input type="submit" class="deconnexion" value="Se déconnecter"/>

  <h2>Vos channels</h2>

  <div id="fil-channels">
    {{#each channels}}
      <div class="channel">
        <a href="/channel/{{_id}}">{{titre}}</a>
        <p>créée par {{createur}}</p>
      </div>
    {{/each}}
  </div>

  <form id="form-channel">
    <h2>Créer une nouvelle channel :</h2>
    <input type="text" name="titre-channel" placeholder="Titre de la channel..."/><br>
    <input type="submit" value="Créer"/>
  </form>
</div>
</template>
