<template name="channel">
{{> channels}}
<div id="channel-fil">
  <h2>Channel {{channel.[0].titre}}</h2>

  Participants :
  <ul>
    {{#each channel.[0].utilisateurs}}
      <li>{{utilisateurbyId this}}
          {{#if estpasAuteur this}}
          <input type="submit" class="suputilisateur" title="supprimer" value="X"/>
          {{/if}}
      </li>
    {{/each}}
  </ul>

  <div id="fil">
    {{#each fil}}
      <div class="message">
        <h4><a href="/membre/{{pseudo}}">{{pseudo}}</a> dit le {{formatDate date}} :</h4>
        <p>{{message}}</p>
      </div>
    {{/each}}
  </div>

  <form id="form-chat-prive">
    <legend>Envoyer un message</legend>
    <textarea rows="4" cols="50" type="text" name="message-chat-prive" placeholder="Votre message..."></textarea><br>
    <input type="submit" value="Envoyer"/>
  </form>
</div>
</template>
