<template name="channels">
<div id="channels-liste">
  <h2>Vos channels</h2>

  <div id="fil-channels">
    {{#each channels}}
      <div class="channel">
        <a href="/channel/{{_id}}">{{titre}}</a><input type="submit" class="supchannel" div="{{_id}}" title="supprimer" value="X"/>
        <p>créée par {{createur}}</p>
      </div>
    {{/each}}
  </div>

  <form id="form-channel">
    <h2>Nouvelle channel :</h2>
    <input type="text" name="titre-channel" placeholder="Titre de la channel..."/><br>
    <input type="submit" value="Créer"/>
  </form>
</div>
</template>
