<template name="inscription">
<form>
  <legend>Inscription</legend>
  <label>Pseudo :</label>
  <input type="text" name="inscription-pseudo" required="true" placeholder="Votre pseudo d'utilisateur"/><br>
  <label>Nom :</label>
  <input type="text" name="inscription-nom" required="true" placeholder="Votre nom d'utilisateur"/><br>
  <label>Prénom :</label>
  <input type="text" name="inscription-prenom" required="true" placeholder="Votre prénom d'utilisateur"/><br>
  <label>Email :</label>
  <input type="email" name="inscription-email" required="true" placeholder="Votre email utilisateur"/><br>
  <label>Mot de passe :</label>
  <input type="password" name="inscription-mdp" required="true" placeholder="Votre mot de passe"/><br>
  <input type="submit" value="S'inscrire"/>
</form>
</template>
