<head>
  <title>Le Chat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
</body>

<template name="main">
  <div id="wrapper">
    <div id="header">
      <div id="logo">
					<h1><a href="#">Chat Rabia</a></h1>
				</div>
				<div id="menu">
					<ul>
						<li class="first active"><a class="accueil">Accueil</a></li>
            {{#if currentUser}}
            <li><a class="recherche">Recherche</a></li>
						<li><a class="deconnexion">Se déconnecter</a></li>
            {{else}}
            <li><a class="inscription">S'inscrire</a></li>
            {{/if}}
					</ul>
					<br class="clearfix" />
				</div>
    </div>
    <div id="page">
      {{> yield}}
    </div>
  </div>
  <div id="footer">Veille Technologique - IAGL 2015-2016 - MétéorJS</div>
</template>
