<template name="profil">
  {{> channels}}
<div class="message">
  <h2>Qui se cache derrière le pseudo '{{utilisateur.username}}' ?</h2>

  <div>
    <p>Pseudo : {{utilisateur.username}}</p>
    <p>Nom : {{utilisateur.profile.surname}}</p>
    <p>Prénom : {{utilisateur.profile.name}}</p>
    <p>Email : {{utilisateur.emails.[0].address}}</p>
    <p>Inscrit depuis : {{formatDate utilisateur.createdAt}}</p>
  </div>

  {{#if estIdentique currentUser utilisateur}}
  <form id="form-profil">
    <select>
      {{#each utilisateur_channels currentUser.username}}
      <option value="{{_id}}">{{titre}}</option>
      {{/each}}
    </select>
    <input type="submit" value="Inviter {{utilisateur.username}}"/>
  </form>
  {{/if}}
</div>
</template>
